<div class="container">
	<section class="presentacion">
		<div class="row">
			<div class="col-lg-12">
				<span class="text-primary">Hola, mi nombre es</span>
				<h1>Jordi Turell Nebot.</h1>
				<h1>Creo aplicaciones web para internet.</h1>
			</div>
			<div class="col-lg-12 mt-10">
				<p>
					Soy ingeniero de software que me he especializado en crear diferentes portales de internet.
					<br/>
					Actualmente, estoy centrado en la creación de diferentes portales accesibles de <span class="text-primary">autoayuda</span>.
				</p>
			</div>
		</div>
	</section>
	<section id="sobremi" class="sectionweb">
		<div calss="row">
			<div class="col-12 mb-4">
				<h3>
					<span>01.</span>
					Sobre mi
				</h3>
				<div class="line-title" id="line-sobremi"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-6 mt-10">
				<p>
					¡Hola! Mi nombre es Jordi y disfruto desenvolupando programas. Mi interés en el desarrollo web comenzó en 2000 cuando decidí intentar comprender como se tenia que crear una web. ¡Resulta que entender eso me enseño muchisimo sobre HTML y CSS!
				</p>
				<p>
				Avance rápido hasta hoy, y he tenido el privilegio de poder trabajar en lo que me apasiona, he trabajado en una empresa pequeña, como autonomo y a dia de hoy en una empresa pequeña pero muchisimo mas seria. Mi enfoque principal en estos días es crear aplicaciones web resolutivas.
				</p>
				<p>
					Aquí hay algunas tecnologías con las que he estado trabajando recientemente:
				</p>
					<ul class="language">
						<li><span>Net Core</span></li>
						<li><span>Angular</span></li>
						<li><span>Typescript</span></li>
					</ul>
					<ul class="language">
						<li><span>Sql Server</span></li>
						<li><span>Sass</span></li>
						<li><span>Android ( Java )</span></li>
					</ul>
			</div>

			<div class="col-md-6 col-lg-6" id="imgsobremi">
				<div class="effectimg"></div>
				<div class="lineimg"></div>
			</div>
		</div>
	</section>

	<section class="sectionweb" id="trabajo">
		<div calss="row">
			<div class="col-12">
				<h3>
					<span>02.</span>
					Donde he trabajado
				</h3>
				<div class="line-title"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-tabshorizontal [TabsName]="tabsname"></app-tabshorizontal>
			</div>
		</div>
	</section>
	<section class="sectionweb" id="projects1">
		<div class="row">
			<div class="col-12 mb-4">
				<h3>
					<span>03.</span>Algunas cosas que he construido
				</h3>
				<div class="line-title"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 img-left-project">
				<div class="effect-img"></div>
				<img src="https://raw.githubusercontent.com/JordiTurell/Config-Nvim/main/gitassets/nvim.png" />
			</div>
			<div class="col-lg-6 text-end">
				<h5>Proyecto destacado</h5>
				<h3>Configuración Nvim</h3>
				<div class="content-text">
					<p>Una configuración para el editor de Nvim donde me he acostumbrado a programar, para poder programar a una velocidad mas rapida ya que no se toca el ratón para nada.</p>					
				</div>
				<div class="languages">
					<ul>
						<li>Lua</li>
					</ul>
				</div>
				<div class="links-project">
					<a href=""><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
	</section>
</div>
