<!-- PAGE CONTENT WRAPPER -->
<div *ngIf="loginservice.autentificado"><h1>Logged</h1></div>
<form class="page-content-wrap mt-10" (ngSubmit)="Save()" role="form">
  <div class="row mt-10">
    <div class="col-lg-12">
      <div class="btn-group mr-2" role="group" aria-label="...">
        <button type="button" class="btn btn-outline-secondary btn-icon" (click)="Atras()" title="Atrás"><i class="fa fa-angle-double-left"></i></button>
        <button type="submit" [disabled]="apuntesform.invalid" class="btn btn-outline-secondary btn-icon" title="Guardar"><i class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo" />
            <div class="alert-danger" *ngIf="apuntesform.controls['titulo'].invalid && apuntesform.controls['titulo'].touched">
              <div class="container-error-message">
                *Campo requerido
              </div>
            </div>
          </div>
          <div class="form-group mt-10">
            <label for="titulo">Descripción</label>           
            <div formControlName="post" id="post"></div>
            <div class="alert-danger" *ngIf="apuntesform.controls['post'].invalid && apuntesform.controls['post'].touched">
              <div class="container-error-message">
                *Campo requerido
              </div>
            </div>
          </div><input type="hidden" formControlName="id" value="0" />
        </div>
      </div>
    </div>
  </div>
</form>
<!-- END PAGE CONTENT WRAPPER -->
