@import '../assets/scss/colors';
@import '../assets/scss/fonts';

.container-fuild.wrap{
	min-height: 100vh;
	height: auto;
}

.email{
	position: absolute;
	margin-left:95vw;	
	z-index:1;	
	.content-email{
		position: fixed;
		transform: rotate(90deg);
		a{
			color: $color;
			font-size:11px;
			font-family: $text;
		}
	}

	.line{
		height:2px;
		background-color:red;
		position:absolute;	
		z-index:99999;


	}
}






