@import '../assets/scss/colors';
@import '../assets/scss/fonts';

.container-fuild.wrap{
	min-height: 100vh;
	height: auto;
}

.pointmouse{
	transition:all 0.4s forward;
}

.roundmouse{
	transition:all 0.4s forward;
}

footer{
	padding-top: 40px;
	p{
		font-size:12px;
		font-weight: 700;
	}
	p:hover{
		color:$color;
	}
}
