@import '../src/assets/scss/colors';
@import '../src/assets/scss/fonts';
@import '../src/assets/scss/animations.scss';

body{
	background-color:$fondo;
	margin:0px;
	padding:0px;
	color: $tituloh1;
	font-family: $text;
	overflow-x: hidden;
	overflow-y:auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $effectimg; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color; 
}

.pointmouse{
	border:solid 2px $pointmouse;
	width:2px;
	height:2px;
	border-radius:100%;
	position:absolute;
	z-index:2;
	-webkit-transition: all 1s forward;
	transition: all 1s forward;
}

.roundmouse{
	border-radius:100%;
	background-color: $roundmouse;
	width:20px;
	height: 20px;
	position:absolute;
	z-index:1;
	-webkit-transition: all 1s forward;
	transition: all 1s forward;
}

.text-primary{
	color:$color !important;	
}

.email-float{
	position: absolute;
	z-index:999;	
	animation: email-info 0.4s forwards;
	.content-email{
		position: fixed;
		transform: rotate(90deg);
		a{
			color: $color;
			font-size:11px;
			font-family: $text;
		}
	}

	.line{
		height:2px;
		background-color:red;
		position:absolute;	
		z-index:99999;


	}
}
