<header>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fuild">
			<div class="logo" tabindex="-1">
				<a href="" aria-label="home">
					<img src="assets/logo.png" />
				</a>
			</div>
			<div class="items-menu" id="menu" ng-controller="HeaderController">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="projectes">Projectes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="linux">Linux</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="sobremi">Sobremi</a>
					</li>
				</ul>
			</div>
		</div>
	</nav> 
</header>
