 <!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
  <!-- START X-NAVIGATION -->
  <ul class="x-navigation">
    <li class="xn-profile" (click)="usuario()">
      <div class="profile">
        <div class="profile-image">
          <img src="assets/img/avatar-01.jpg" alt="John Doe" />
        </div>
        <div class="profile-data">
          <div class="profile-data-name">John Doe</div>
          <div class="profile-data-title">Web Developer/Designer</div>
        </div>
      </div>
    </li>
    <li class="active" style="margin-top:10px;">
      <a routerLink="/dashboard/home"><span class="fa fa-desktop"></span></a>
    </li>
    <li class="xn-openable">
      <a href="#"><span class="fa fa-cog"></span></a>
      <ul>
        <li><a routerLink="/dashboard/clases">Clases</a></li>
        <li><a href="layout-nav-toggled.html">Navigation Toggled</a></li>
        <li><a href="layout-nav-top.html">Navigation Top</a></li>
        <li><a href="layout-nav-right.html">Navigation Right</a></li>
        <li><a href="layout-nav-top-fixed.html">Top Navigation Fixed</a></li>
        <li><a href="layout-nav-custom.html">Custom Navigation</a></li>
        <li><a href="layout-frame-left.html">Frame Left Column</a></li>
        <li><a href="layout-frame-right.html">Frame Right Column</a></li>
        <li><a href="layout-search-left.html">Search Left Side</a></li>
        <li><a href="blank.html">Blank Page</a></li>
      </ul>
    </li>
  </ul>
  <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
