<!-- PAGE CONTENT WRAPPER -->
<form *ngIf="loginservice.autentificado" class="page-content-wrap mt-10" (ngSubmit)="Save()" [formGroup]="rolesform" role="form">
  <div class="row mt-10">
    <div class="col-lg-12">
      <div class="btn-group mr-2" role="group" aria-label="...">
        <button type="button" class="btn btn-outline-secondary btn-icon" (click)="Atras()" title="Atrás"><i class="fa fa-angle-double-left"></i></button>
        <button type="submit" [disabled]="rolesform.invalid" class="btn btn-outline-secondary btn-icon" title="Guardar"><i class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" />
            <div class="alert-danger" *ngIf="rolesform.controls['nombre'].invalid && rolesform.controls['nombre'].touched">
              <div class="container-error-message">
                *Campo requerido
              </div>
            </div>
          </div>
          <input type="hidden" formControlName="id" value="0" />
        </div>
      </div>
    </div>
  </div>
</form>
<!-- END PAGE CONTENT WRAPPER -->
