@import '../../../../assets/scss/colors.scss';

.tab {
  float: left;
  border-left: 2px solid $effectimg;
  background-color: transparent;
  width: 150px;
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: $tituloh1;
  padding:10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:$effectimg;
  color: $color;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: transparent;
  color:$color;
  border-left:3px solid $color;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 20px;
  border: 0px solid #ccc;
  width: 70%;
  border-left: none;
  height: auto;

  ul{
	padding-left:20px;
		 	
	li:before {
		content: "»"; /* FontAwesome Unicode */
		display: inline-block;
		margin-left: -1.3em; /* same as padding-left set on li */
		width: 1.3em; /* same as padding-left set on li */
		color:$color;
	}
 
  }
}
